@import "~/assets/styles/_colors.scss";

.search-section {
  &__items {
    height: 49px;
    line-height: 28px;
    border: 1px solid $input-border;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 492px;
  }
  &__input {
    @extend .sass-input__default;
    font-family: inherit;
    font-size: 14px;
    font-weight: 300;
    flex-grow: 2;
  }

  &__btn {
    @extend .sass-input__default;
    margin: 14px 16px 15px 4px;
  }
  &__btn::before {
    @include font-icon__limoo();
    font-size: 17px;
    content: "\e869";
    cursor: pointer;
    color: $input-border;
    vertical-align: middle;
  }
}

.search-section__input::-webkit-input-placeholder {
  color: $gray;
}
.search-section__input:-ms-input-placeholder {
  color: $gray;
}
.search-section__input::placeholder {
  color: $gray;
}
