@import "_colors.scss";
@import "_mixins.scss";

.p-modal-province_city {
  display: flex; // other time fixed scope //
}
.p-modal-select-box-province_city .birthday-item-content {
  width: 100%;
  height: 52px;
}
.p-modal-select-box-province_city .birthday-item__days {
  width: 100%;
}
.p-modal-wrapper-item {
  width: 40%;
}
.p-modal-select-box-province_city .p-birthday-select-box {
  width: 100%;
}
.p-modal-select-box-province_city .p-birthday-select-box-search {
  width: 100%;
}
.p-modal-select-box-province_city .day-item {
  margin-right: 0;
}
.p-modal-show_error .p-input-style__default {
  border-color: $red !important;
}

// custome input //
#address__form--data .form__textara-item {
  height: 52px;
}
#address__form--data .search-section__items {
  border: 1px solid $input-border;
  box-shadow: 0px 4px 4px $gray-border;
  border-radius: 15px;
  height: 52px;
}
#address__form--data .search-section__input {
  padding-right: 10px;
  padding-left: 10px;
}
#address__form--data .search__section--error {
  margin-bottom: 0;
}

#address__form--data {
  .p-modal-header-icon {
    @include display-flex();
  }
  .modal {
    @include display-flex();
    flex-direction: column;
    align-items: center;
    width: 982px;
    height: 623px;
    background: $white;
    box-shadow: 0px 8px 16px $box__shadow;
    border-radius: 15px;
    &__close-cross {
      align-self: flex-end;
      width: 30px;
      height: 30px;
      margin-top: 24px;
      margin-left: 24px;
      cursor: pointer;
    }
    &__close-line {
      display: none;
      align-self: center;
      margin-top: 24px;
    }
    &__title {
      display: none;
    }
    form {
      @include display-flex();
      flex-direction: column;
      align-items: center;
    }
    .pass__holder {
      height: 88px;
      margin-bottom: 35px;
      width: 45%;
      label {
        font-size: 16px;
        line-height: 140.62%;
        span {
          color: $red;
          margin-right: 3px;
        }
      }
    }
    .pass__repeat {
      margin-bottom: 42px;
    }
    .pass__old,
    .pass__new,
    .pass__new-repeat {
      @include display-flex();
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 52px;
      flex-grow: 1;
      background: $white;
      border: 1px solid $input-border;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px $gray-border;
      border-radius: 15px;
      margin-top: 15px;
    }
    .pass__old > input,
    .pass__new > input,
    .pass__new-repeat > input {
      height: 52px;
      flex-grow: 1;
      background: transparent;
      /* border: 1px solid red; */
      padding: 16px;
      line-height: 140.62%;
      border: none;
      border-radius: 15px;
      font-family: inherit;
      outline: none;
      /* letter-spacing: 5px; */
      font-size: 16px;
    }
    .pass__submitbtn {
      align-self: center;
      margin-bottom: 40px;
      height: 57px;
      width: 270px;
      background: $btn__green;
      color: $white;
      font-size: 18px;
      font-family: inherit;
      line-height: 140.62%;
      text-align: center;
      border-radius: 10px;
      cursor: pointer;
      outline: none;
      border: none;
    }
    .pass__alert {
      margin-top: 4px;
      color: $alert-red;
      text-align: right;
      font-size: 14px;
      line-height: 140.62%;
      @include display-flex();
      width: 100%;
      text-align: right;
      visibility: hidden;
    }
  }
  .splicer-line {
    display: none;
  }
  .p-modal-city_provence {
    @include display-flex();
  }
  .p-modal-header-close-icon {
    margin-left: 0;
  }
  .p-modal_wrapper {
    padding-right: 191px;
    padding-left: 191px;
    @include display-flex();
    padding-top: 51px;
  }
  .p-modal-wrapper-item {
    width: 175px;
    margin-left: 37px;
    margin-bottom: 11px;
  }
  .p-modal-wrapper-item:last-of-type {
    margin-left: 0;
  }
  .p-modal-wrapper-province_city-title {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    color: $black;
    text-align: right;
    padding-right: 7px;
  }
  .p-margin-left-0 {
    margin-left: 0;
  }
  .p-modal-header-desktop {
    @include display-flex();
  }
  .p-modal-header-mobile {
    display: none;
  }
  .p-modal-header-top {
    flex-grow: 1;
    @include display-flex();
  }
  .p-modal-header-icon-location {
    width: 24px;
  }
  .p-modal-header-top-title {
    color: $black;
    font-size: 18px;
    font-weight: 500;
    margin-right: 11.5px;
  }
  .p-modal-header {
    padding-right: 41px;
    padding-left: 41px;
  }
  .p-modal-content {
    @include display-flex();
  }
  .p-modal-content-items {
    @include display-flex();
  }
  .p-modal-address-input {
    width: 100%;
  }
  .p-modal-address {
    margin-bottom: 19px;
  }
  .p-modal-header-line {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    height: 1px;
    background: $gray-border;
    @include display-flex();
    margin-top: 2px;
  }
  .p-modal-header-top-main {
    @include display-flex();
    align-items: center;
    padding-top: 20px;
    padding-bottom: 11px;
  }
  .p-modal-btns {
    padding-top: 49px;
  }
  /* .p-modal-address{
    // height: 109px;
  } */
  .p-modal-show_error .pass__alert {
    visibility: inherit;
  }
  .p-modal-show_error .p-modal-item-input {
    border: solid 1px $red !important;
  }
  .p-favorite-product-btn-modal-delete {
    font-size: 16px;
  }
  .p-favorite-product-btn-modal-cancel {
    font-size: 16px;
  }
  .p-modal-validation-mobile {
    display: none !important;
  }
  .p-input-style__default:focus {
    border: solid 1px $black;
  }
  .p-modal-header-close-icon::after {
    content: "\e807";
    @include font-icon__limoo();
    font-size: 28px;
    color: $gray;
    cursor: pointer;
  }
  .form__modal--address .card-body .form-group {
    height: 95px;
    background: red;
  }
}

@media (max-width: 960px) {
  #address__form--data {
    .modal-animation__open {
      animation: modalOpen 600ms linear;
    }
    @keyframes modalOpen {
      0% {
        transform: translate(0, 579px);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    .modal-animation__close {
      animation: modalClose 600ms linear;
    }
    @keyframes modalClose {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, 579px);
      }
    }
    .modal {
      align-self: flex-end;
      position: absolute;
      width: 100%;
      height: 723px;
      background: $white;
      box-shadow: 0px 20px 24px $overlay__profile-mobile;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &__close-cross {
        display: none;
      }
      &__close-line {
        display: block;
        align-self: center;
        margin-top: 24px;
      }
      &__title {
        display: block;
        font-size: 14px;
        line-height: 140.62%;
        color: $gray;
        margin-top: 24px;
        text-align: right;
      }
      /* form {
              margin-top: 5px;
          } */
      .pass__holder {
        height: 80px;
        width: 84vw;
        margin-bottom: 35px;
        label {
          font-size: 14px;
        }
      }

      .pass__old,
      .pass__new,
      .pass__new-repeat {
        @include display-flex();
        height: 46px;
      }
      .pass__old > input,
      .pass__new > input,
      .pass__new-repeat > input {
        height: 46px;
        width: 200px;
      }
      .pass__submitbtn {
        width: 91vw;
        margin-bottom: 47px;
      }
      .pass__alert {
        font-size: 13px;
        padding-right: 7px;
      }
    }
    .clear-input > img {
      width: 17px;
      height: 15px;
    }
    .splicer-line {
      display: block;
      width: 95%;
      border: none;
      margin: 16px 5px;
      border-top: 1px solid $gray-border;
      margin-bottom: 35px;
    }
    .p-modal-header-mobile {
      display: flex;
      flex-flow: column;
    }
    .p-modal-header-desktop {
      display: none;
    }
    .p-modal-wrapper-province_city-title {
      font-size: 14px;
    }
    .p-modal-wrapper-item {
      width: 43%;
      margin-left: 13%;
      margin-bottom: 4px;
    }
    .p-modal-wrapper-item:nth-child(2n) {
      margin-left: 0;
    }
    .p-modal-wrapper-item:nth-child(3n) {
      margin-left: 13%;
    }
    .p-input-style__default {
      width: 100%;
    }
    .p-modal_wrapper {
      padding-right: 32px;
      padding-left: 32px;
      padding-top: 24px;
    }
    .splicer-line {
      margin-bottom: 0;
      margin-top: 20px;
    }
    .p-modal-header-icon-location {
      width: 19px;
    }
    .p-modal-header-top-title {
      font-size: 14px;
      color: $gray;
    }
    .p-modal-header-top {
      padding-top: 32px;
    }
    .p-modal-btns {
      padding-top: 55px;
    }
    .search-section__items {
      height: 46px;
    }
  }
}

@media (max-width: 540px) {
  #address__form--data {
    .modal {
      height: 688px;
    }
    .p-modal-btns {
      padding-top: 25px;
    }
  }
}

@media screen and (max-width: 485px) {
  #address__form--data {
    .p-product-btn {
      width: 47%;
      margin-left: 0;
    }
    .p-favorite-product-btn-modal-delete {
      margin-left: 4%;
    }
    .p-favorite-product-btn-modal-cancel {
      margin-left: 0;
    }
    .p-modal-btns {
      padding-top: 9px;
    }
    .modal {
      height: 617px;
    }
    .p-modal-address {
      margin-bottom: 6px;
    }
    .p-modal_wrapper {
      padding-right: 29px;
      padding-left: 29px;
    }
    .p-modal-wrapper-item {
      margin-bottom: 6px;
    }
    .modal .pass__alert {
      height: 20px;
    }
    .splicer-line {
      margin-top: 16px;
    }
    .p-modal-header-top {
      padding-top: 33px;
    }
    .p-input-style__default {
      height: 46px;
    }
    .p-modal-wrapper-item {
      margin-bottom: 0;
    }
    .modal__close-line {
      margin-top: 21px;
    }
    .p-modal-validation-mobile {
      display: flex !important;
    }
    .p-modal-validation-desktop {
      display: none !important;
    }
  }
}

@media screen and (max-width: 320px) {
  #address__form--data {
    .modal-animation__open {
      animation: modalOpen 600ms linear;
    }
    @keyframes modalOpen {
      0% {
        transform: translate(0, 470px);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    .modal-animation__close {
      animation: modalClose 600ms linear;
    }
    @keyframes modalClose {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, 470px);
      }
    }
    .modal {
      height: 470px;
      &__close-line {
        margin-top: 20px;
      }
      &__title {
        margin-top: 20px;
      }
      .pass__holder {
        height: 70px;
        width: 84vw;
        margin-bottom: 25px;
        label {
          font-size: 13px;
        }
      }
      .pass__old,
      .pass__new,
      .pass__new-repeat {
        @include display-flex();
        height: 40px;
      }
      .pass__old > input,
      .pass__new > input,
      .pass__new-repeat > input {
        height: 40px;
        width: 200px;
      }
      .pass__submitbtn {
        width: 91vw;
        margin-bottom: 37px;
        margin-top: 15px;
      }
    }
    .splicer-line {
      margin-bottom: 17px;
    }
    .modal .pass__alert {
      font-size: 11px;
    }

    .splicer-line {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .modal {
      height: 536px;
    }
    .p-modal_wrapper {
      padding-top: 0;
    }
    .p-modal-header-top {
      padding-top: 16px;
    }
    .p-modal-btns {
      padding-top: 9px;
    }
    .p-modal-wrapper-province_city-title {
      margin-bottom: 8px;
    }
    .p-modal-address {
      margin-bottom: 0;
    }
    .p-modal-wrapper-item {
      margin-bottom: 1px;
    }
  }
}

@media screen and (max-width: 280px) {
  #address__form--data {
    .modal {
      height: 617px;
    }
    .p-modal-wrapper-province_city-title {
      margin-bottom: 11px;
    }
    .p-favorite-product-btn-modal-delete {
      margin-left: 3%;
    }
    .p-modal_wrapper {
      padding-top: 24px;
    }
    .splicer-line {
      margin-top: 17px;
      margin-bottom: 0px;
    }
    .p-modal-wrapper-item {
      margin-bottom: 6px;
    }
    .p-modal-wrapper-province_city-title {
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: 485px) {
  .p-modal-select-box-province_city .day-item {
    margin-right: -13px;
  }
  .p-modal-select-box-province_city .birthday-item-content {
    height: 46px;
  }
}

@media screen and (max-width: 330px) {
  .p-modal-select-box-province_city .day-item {
    margin-right: -25px;
  }
}
