//================ app colors ==================
$white: #ffffff;
$mid_white:#f1f1f1;
$black: #000000;
$black-topic: #212121;
$color-price: #212121;
$red: #ff0000;
$red-logout: #ff525c;
$yellow: #ffcc40;
$light-yellow: #ffd35a;
$gray: #828282;
$very_light_gray: #ccc;
$light-gray: #e0e0e0;
$dark_gray: #4d4d4d;
$mid-dark_gray:#717171;
$mid_gray:#6f6f6f;
$gray-border: #f2f2f2;
$scrollbar-gray: #c4c4c4;
$main-bg: #e5e5e5;
$light-green__bg: #ebfff2;
$alert-red: #ed0b26;
$light_red: #ff536f;
$alert-red__bg: #fff4f5;
$alert-massage__green: #1fdc6b;
$btn__green: #1fdc6b;
$input-border: #bdbdbd;
$dot-bg: #bdbdbd;
$color-gray: #bdbdbd;
$input-bg: #fcfcfc;
$box__shadow: rgba(17, 17, 17, 0.03);
$google-btn__bg: #f2f2f2;
$circle-bg: #f2f2f2;
$border-gray-bg: #f2f2f2;
$code-request: #47a7ff;
$code: #515151;
$color_discount: #515151;
$overlay: #f8f8f8;
$overlay__profile: rgba(196, 196, 196, 0.5);
$overlay__profile-mobile: rgba(196, 196, 196, 0.7);
$light_red  :  #FF536F;
$dark_gray  : #4D4D4D;
$very_light_gray : #ccc;
$light_red_hardly_ever  : #ff5981;
$light_red_seldom       : #ff6859;
$strong_pink            : #c51951;
$strong_red             : #c51a19;
$dark_pink              : #ae1648;
$soft_violet            : #9f78e5;
$soft_violet_red        : #c378e5;

// $colors: (
//     main: #c9df3c,
//     secondary: #794469
// );
