//================ app colors ==================
$white: #ffffff;
$mid_white: #f1f1f1;
$black: #000000;
$black-topic: #212121;
$black-icon: #200e32;
$color-price: #212121;
$color_festival_mobile: #212121;
$red: #ff0000;
$red-logout: #ff525c;
$red-color: #ff525c;
$green: #1FDC6B;
$green-2: #37EC7F;
$green-3: #8CFEB2;
$green-4: #AAFFC6;
$green-5: #CDFFDE;
$green-6: #EBFFF2;
$orange: #ffcc40;
$orange-2: #ffd35a;
$orange-3: #ffdc72;
$orange-4: #FFE493;
$orange-5: #FFEDB6;
$orange-6: #FFF9EA;
$gray: #212121;
$gray-2: #515151;
$gray-3: #828282;
$gray-4: #bdbdbd;
$gray-5: #e0e0e0;
$gray-6: #f2f2f2;
$yellow: #ffcc40;
$light-yellow: #ffd35a;
$border__yellow: #fff5d9;
$gray: #828282;
$very_light_gray: #ccc;
$light-gray: #e0e0e0;
$dark_gray: #4d4d4d;
$mid-dark_gray: #717171;
$mid_gray: #6f6f6f;
$gray-border: #f2f2f2;
$scrollbar-gray: #c4c4c4;
$main-bg: #e5e5e5;
$light-green__bg: #ebfff2;
$alert-red: #ed0b26;
$light_red: #ff536f;
$alert-red__bg: #fff4f5;
$red-6: #ffebeb;
$alert-massage__green: #1fdc6b;
$btn__green: #1fdc6b;
$icon__green: #37ec7f;
$input-border: #bdbdbd;
$dot-bg: #bdbdbd;
$color-gray: #bdbdbd;
$input-bg: #fcfcfc;
$box__shadow: rgba(17, 17, 17, 0.03);
$box__shadow2: rgba(224, 224, 224, 0.43);
$google-btn__bg: #f2f2f2;
$circle-bg: #f2f2f2;
$border-gray-bg: #f2f2f2;
$code-request: #47a7ff;
$blue-post: #164194;
$light__blue: #c9def1;
$blue-2: #F2F9FF;

$code: #515151;
$color_discount: #515151;
$color_festival: #515151;
$color_product_vertical: #515151;
$overlay: #f8f8f8;
$overlay__profile: rgba(196, 196, 196, 0.5);
$overlay__profile-mobile: rgba(196, 196, 196, 0.7);
$order__detail-bg: rgba(242, 242, 242, 0.7);
$notif-inprogress__bg: rgba(255, 211, 90, 0.23);
$notif-delivered__bg: rgba(71, 167, 255, 0.23);
$notif-returned__bg: rgba(237, 11, 38, 0.23);
$modal-btn__shadow: rgba(130, 130, 130, 0.32);
$notif-canceled__bg: #e0e0e0;
$green__answer: #17a550;
$gray__bar: #cdcdcd;
$light_red: #ff536f;
$bg-libht__red: #fbc7cd;
$dark_gray: #4d4d4d;
$very_light_gray: #ccc;
$light_red_hardly_ever: #ff5981;
$light_red_seldom: #ff6859;
$strong_pink: #c51951;
$strong_red: #c51a19;
$dark_pink: #ae1648;
$product-red-color: #ff4365;
$product-green-color: #61CD6C;
$product-purple-color: #8C79FF;

$soft_violet: #9f78e5;
$soft_violet_red: #c378e5;
$bg_festival_counrer_down: #fff4f5;
$color_question_gray: #515151;
$color_li_gray: #515151;
$color-gray-footer: #212121;
$color-blue: #47a7ff;
$color_category: #515151;
$dark_gray: #515151;
$orange_btn_filter: #ffcc40;
$chinese_white: #e0e0e0;
$flash_white: #f2f2f2;
$disabled_input: #fafafa;
$gray_disabled: #a0a3bd;
$gray_storm: #6e7191;
$color-box-shadow: #11111108;
