    @import '_mixins.scss';

   .tabs{
        @include display-flex();
        align-content: flex-start;
        flex-flow: column;
    }
    .tabs__main{
        width:100%;
        @include display-flex();
        align-items:flex-start;
        border-bottom:solid 1px $gray-border;
    }
    .tabs__item{
      margin-left:70px;
      cursor: pointer;
    }
    .tabs__item-title{
        font-size:18px;
        color: $gray;
        font-weight: 400;
    }
    .tab__main-wrapper{
        padding-right: 24px;
        padding-left:24px;
    }
    .tab__main-wrapper{
        @include display-flex();
        align-content: flex-start;
        flex-wrap: wrap;
        width:100%;
    }
    .tabs__item-line{
        width:100%;
        height: 5px;
        background:$yellow;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        @include display-flex();
        margin-top:19px;
    }
    .tab--active .tabs__item-line{
       visibility:visible;
    }
    .tab--active .tabs__item-title{
        color: $black-topic;
    }
    .tabs__content{
        padding-top:38px;
        position: absolute;
    }
    .tabs__content-title{
        font-size: 16px;
        font-weight: 400;
        color:$black-topic;
        height: 29px;
        margin-bottom:16px;
        width:100%;
    }
    .tabs__content-item{
        background:$white;
        height: 53px;
        padding-right:18px;
        padding-left: 18px;
        background:rgb(242,242,242,.4);
        @include display-flex();
    }
    .tabs__content-item:nth-child(2n){
        background:$white;
    }
    .tabs__content-right{
        width:349px;
        position: relative;
    }
    .tabs__content-left{
        @include display-flex();
        flex-grow: 1;
        padding-right:24px;
    }
    .tabs__content-data:nth-child(1){
        padding-top:0;
    }
    .tabs__content-data{
        padding-right:24px;
        padding-left:24px;
        padding-top:38px;
        flex-wrap: wrap;
    }
    .tabs__content-data:last-of-type .tabs__content-items{
        border-bottom:none;
        padding-bottom:0;
    }
    .tab__content-wrapper{
        @include display-flex();
    }
    .tabs__content-text{
        font-size: 16px;
        color:$color_discount;
        font-weight: 400;
        margin-top:16px;
    }
    .tabs__content-line{
       @include display-flex();
       background:rgba(242,242,242,.4);
       position: absolute;
       left:0;
       width:1px;
       height: 100%;
       top:0;
    }
    .tabs__content-items{
        padding-bottom:38px;
        border-bottom:solid 2px rgba(242,242,242,.5);
        border-radius: 8px;
        width:100%;
    }
    .tab__more{
        font-size: 13px;
        color: $gray;
        border-bottom: none;
        text-decoration: none;
        @include display-flex();
        align-items: center;
        justify-content: flex-end;
        margin-top:16px;
        margin-bottom:16px;
        padding-left:15px;
        cursor: pointer;
    }
    .tab__more-icon{
        @include display-flex();
        margin-right: 5px;
    }
    .mobile--arrow::after {
        content: "\e801";
        @include font-icon__limoo();
        font-size: 12px;
    }
    .tab__more-main{
        display: none;
        justify-content: flex-end;
    }




    //@media (max-width: 760px) {
    //    .tab__more-main{
    //        @include display-flex();
    //    }
    //    .tabs__content-items{
    //        padding-bottom: 0;
    //        border:solid 1px $border-gray-bg;
    //        border-radius: 10px;
    //    }
    //    .tabs__content-item:nth-child(n+4){
    //        display: none;
    //    }
    //    .tabs__content-data:nth-child(n+2){
    //        display: none;
    //    }
    //    .tabs__content{
    //        padding-top:16px;
    //    }
    //    .tabs__content-title{
    //        font-size: 14px;
    //        height:24px;
    //    }
    //    .tabs__content-data{
    //        padding-right: 0;
    //        padding-left:0;
    //    }
    //    .tabs__content-text{
    //        font-size: 13px;
    //        margin-top:0;
    //        color:$gray;
    //    }
    //    .tabs__content-item{
    //        height: 39px;
    //        padding-right: 16px;
    //        padding-left:16px;
    //    }
    //    .tab__content-wrapper{
    //        align-items:center;
    //    }
    //    .tabs__content-right{
    //        width:148px;
    //    }
    //
    //}
