@import "_colors.scss";

#modal-filter{
  .modal-dialog{
    margin-left: auto !important;
    margin:inherit !important;
    min-height: auto;
    max-width: 377px;
  }
  .modal-content{
    height: 100vh;
    background: #fff;
  }
}

.modal-filter{
  .modal-backdrop{
    background: rgba(81, 81, 81, .6) !important;
  }
}
