@import "_colors.scss";

.page__home__introduction-slider-main{

  .flickity-page-dots{
    bottom: 12px;
  }
  .flickity-page-dots .dot{
    border: 1.5px solid $dot-bg;
    opacity: 1;
    position: relative;
    background: #fff;
    width: 10px;
    height: 10px;
  }
  .flickity-page-dots .dot::before{
    content: "";
    width: 6px;
    height: 6px;
    background: $white;
    border-radius: 10000px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    left: 0;
    margin: auto;
  }
  .flickity-page-dots .dot.is-selected::before{
    background: $gray;
  }
  .flickity-viewport{
    border-radius: 16px;
  }

}
