
// ================ app fonts ===================
@font-face {
    font-family: "IRANYekan";
    src: url(~assets/fonts/IranYekan/iranyekanwebregularfanum.ttf)
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Yekan";
    src: url(~assets/fonts/Yekan/Yekan.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
// =============================================
