//================ app colors ==================
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$yellow: #ffcc40;
$gray: #828282;
$alert-red: #ed0b26;
$alert-red__bg: #fff4f5;
$alert-massage__green: #1fdc6b;
$input-border: #bdbdbd;
$input-bg: #fcfcfc;
$auth-box__shadow: rgba(17, 17, 17, 0.03);
$google-btn__bg: #f2f2f2;
$code-request: #47a7ff;
$code: #515151;
$colors: (
    main: #c9df3c,
    secondary: #794469
);
// ================ app fonts ===================
@font-face {
    font-family: "IRANYekan";
    src: url(~assets/fonts/IranYekan/iranyekanwebregularfanum.ttf)
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Yekan";
    src: url(~assets/fonts/Yekan/Yekan.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
// =============================================
