// ================ app fonts ===================
@font-face {
    font-family: "IRANYekan";
    src: url(~assets/fonts/IranYekan/iranyekanwebregularfanum.ttf)
        format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "limoo";
    src: url("~assets/fonts/font/limoo.eot?24408462");
    src: url("~assets/fonts/font/limoo.eot?24408462#iefix")
            format("embedded-opentype"),
        url("~assets/fonts/font/limoo.woff2?24408462") format("woff2"),
        url("~assets/fonts/font/limoo.woff?24408462") format("woff"),
        url("~assets/fonts/font/limoo.ttf?24408462") format("truetype"),
        url("~assets/fonts/font/limoo.svg?24408462#limoo") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Yekan";
    src: url(~assets/fonts/Yekan/Yekan.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
// =============================================
