@import "_variables.scss";
@import "_colors.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "IRANYekan";
}
// ==============Inheritance classes==================
.sass-input__default {
    outline: none;
    border: none;
    background: transparent;
}
// ==================utile classes ===================
.menu-item__activated {
    filter: invert(20%) sepia(60%) saturate(619%) hue-rotate(335deg)
        brightness(175%) contrast(105%);
    color: $yellow;
}

// ===================Mixins==========================
@mixin display-flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
// ===================================================
.signup-limoo-logo {
    margin-top: 0;
    height: 56.25px;
}
.app-signup-close-btn {
    @extend .sass-input__default;
    cursor: pointer;
    margin-left: 24px;
}
.app-signin-next-btn {
    @extend .sass-input__default;
    cursor: pointer;
    margin-left: 24px;
}
.signin-btn,
.signup-btn {
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.31px;
    text-align: center;
    color: $white;
    background: $yellow;
    height: 58px;
    width: 463px;
    border: none;
    border-radius: 10px;
    outline: none;

    cursor: pointer;
}
.google-signup-btn {
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.69px;
    text-align: center;
    color: $gray;
    background: $google-btn__bg;
    height: 44px;
    width: 189px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 31px;
    cursor: pointer;
    visibility: hidden;
}
.signin-input,
.signup-input {
    // font-family: "IRANYekan";
    @extend .sass-input__default;
    font-size: 16px;
    font-weight: 400;
    flex-grow: 2;
    &-wrong {
        @extend .sass-input__default;
        font-size: 16px;
        font-weight: 400;
        flex-grow: 2;
        color: $red;
    }
}

.input-section,
.search-section {
    display: flex;
    justify-content: center;
}
.input-holder-verify,
.input-holder {
    background: $input-bg;
    margin-bottom: 8px;
    height: 54px;
    line-height: 28px;
    border: 1px solid $input-border;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    width: 463px;
    &-wrong {
        color: $red;
        background: $alert-red__bg;
        margin-bottom: 8px;
        height: 54px;
        line-height: 28px;
        border: 1px solid $alert-red !important;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        flex-direction: row-reverse;
        width: 463px;
        outline: none;
    }
}
::placeholder {
    color: $input-border;
}
.clear-input {
    @extend .sass-input__default;
    color: $gray;
    font-size: 30px;
    cursor: pointer;
    padding-left: 16px;
    &-wrong {
        @extend .sass-input__default;
        color: $red;
        font-size: 30px;
        cursor: pointer;
        padding-left: 16px;
    }
}
